DATABASE_URL=
DIRECT_URL=""
JWT_TOKEN_SECRET="your_jwt_secret_key30928476890"
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASS=
FRONTEND_URL=http://localhost:3000
PAYSTACK_SECRET_KEY=
PAYSTACK_PUBLIC_KEY=
CRON_API_KEY=your_cron_api_key_here_for_reaaaallllll?
CLOUDINARY_CLOUD_NAME=
VITE_CLOUDINARY_CLOUD_NAME=
VITE_CLOUDINARY_UPLOAD_PRESET=
ENV_MODE=production
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
WAITLIST_GEOGRAPHIC_TARGETING=true
WAITLIST_DEMOGRAPHIC_TARGETING=true

# Please note, that to run the cloudflare worker, you need to set the following variables 
# in .dev.vars file in the root of the backend folder project
# https://developers.cloudflare.com/workers/configuration/environment-variables/